* {
  padding: 0;
  margin: 0;
}

html, body {
  height : 100%;
  width : 100%;
  display : flex;
  flex-wrap : wrap;
}

#root,#map {
  height : 100%;
  width : 100%;
}

/* #map {
  height: 0%;
  width: 100%;
} */

#content-section {
  margin: 20px;
}

#list-view-container {
  /* padding: 10px 0 10px 0; */
}

#filter-results-container {
  padding-bottom: 20px;
}

#search-container {
  /* padding-bottom: 20px 0 20px 0; */
}

.clicked {
  background:yellow;
}


ul,ol {
  list-style-type : none;
}

#module-list {
  font-size:small;
  width: 100%;
  /* padding: 20px 0 20px 0; */

}

#module-list li {
  /* padding: 0px; */
}

.avatar {
  width : 20vw;
  height : 20vw;
  max-width: 250px;
  max-height: 250px;

}

.business-photo {
  height: 15vw;
  width: 15vw;
  padding: 5px;
}

#open-status {
  font-weight: bold;
}
