* {
  padding: 0;
  margin: 0;
}

html, body {
  height : 100%;
  width : 100%;
  display : flex;
  flex-wrap : wrap;
}

#root,#map {
  height : 100%;
  width : 100%;
}

/* #map {
  height: 0%;
  width: 100%;
} */

#content-section {
  /* margin: 5px; */

}

#list-view-container {
  padding: 10px;
  background-color: turquoise;

}

#list-view-list li {
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

#list-view-list li:hover {
  text-decoration: underline;
  /* font-weight: bold; */
}
#filter-results-container {
  padding: 10px;
/*   width: 100%; */
  background-color: yellow;
}

#search-container {
  padding: 10px;
  background-color: gray;

}

.clicked {
  background:yellow;
}

.label {
  padding: 10px;
}


ul,ol {
  list-style-type : none;
}

#module-list {
  font-size:small;
  width: 100%;
}

.avatar {
  width : 20vw;
  height : 20vw;
  max-width: 250px;
  max-height: 250px;
}

.business-photo {
  height: 15vw;
  width: 15vw;
  padding: 5px;
}

#open-status {
  font-weight: bold;
}

/* add media queries, fix wierd color in module on click */
