* {
  padding: 0;
  margin: 0;
}

html, body {
  height : 100%;
  width : 100%;
  display : flex;
  flex-wrap : wrap;
}

#map,#root {
  height : 100%;
  width : 50%;
}

.clicked {
  background:yellow;
}

#marker-content {
  padding : 0;
  margin : 0;
}


#info-window-list,#module-list {
  list-style-type : none;

}

#module-list {
  font-size:small;
  width: 100%;
}

#module-list li {
  padding: 2px;
}

.avatar {
  width : 20vw;
  height : 25vh;
}

.business-photo {
  height: 15vw;
  width: 15vw;
  padding: 5px;
}

#open-status {
  font-weight: bold;
}
